extends layout

block externalCss
    link(rel='stylesheet', href='/assets/css/champion.css')
    link(rel='stylesheet', href='/assets/css/item.css')
    link(rel='stylesheet', href='/assets/css/ss.css')

block externalJs
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js' type='text/javascript')
    //- hack? to be able to use variable in external js
    script(type='text/javascript').
        console.log(!{JSON.stringify(locals.match)})
        var match = !{JSON.stringify(locals.match)};
    script(src='/assets/js/lolTimelineStepper.js' type='text/javascript')

block pageTitle
    | Match Information

block content
    #match-summary-container
        #blue-team-summary
            .team-summary-header
                if locals.match.team1.winner
                    | VICTORY
                else
                    | DEFEAT
        #red-team-summary
            .team-summary-header
                if locals.match.team2.winner
                    | VICTORY
                else
                    | DEFEAT
        #champion-info-summary
            #blue-team.team-container
                each participant in locals.match.team1.participants
                    a(href='#')
                        .champion-container
                            .champion-ss-container
                                img(class='match-champ-img champ64-#{participant.championId}', src='/assets/img/t1.png', width='64', height='64')
                                .vertical-summoner-spells
                                    img(class='summoner-spell1-img ss ss-#{participant.spell1Id}', src='/assets/img/t1.png', width='32', height='32')
                                    img(class='summoner-spell2-img ss ss-#{participant.spell2Id}', src='/assets/img/t1.png', width='32', height='32')
                            .match-sn-kda-container
                                .match-sn
                                    | placeholder
                                .match-kda
                                    span.blue-text
                                        | #{participant.stats.kills}
                                    | &nbsp;/&nbsp;
                                    span.red-text
                                        | #{participant.stats.deaths}
                                    | &nbsp;/&nbsp;
                                    span.blue-text
                                        | #{participant.stats.assists}
                            .match-items-container
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item0}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item1}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item2}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item3}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item4}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item5}', src='/assets/img/t1.png', width='32', height='32')
                            .match-trinket-container
                                img(class='match-trinket-img item item-#{participant.stats.item6}', src='/assets/img/t1.png', width='32', height='32')
                            ul.match-cs-gold-container
                                li.match-cs
                                    | #{participant.stats.cs} cs
                                li.match-gold
                                    | #{participant.stats.gold}k
                    
            #red-team.team-container
                each participant in locals.match.team2.participants
                    a(href='#')
                        .champion-container
                            .champion-ss-container
                                img(class='match-champ-img champ64-#{participant.championId}', src='/assets/img/t1.png', width='64', height='64')
                                .vertical-summoner-spells
                                    img(class='summoner-spell1-img ss ss-#{participant.spell1Id}', src='/assets/img/t1.png', width='32', height='32')
                                    img(class='summoner-spell2-img ss ss-#{participant.spell2Id}', src='/assets/img/t1.png', width='32', height='32')
                            .match-sn-kda-container
                                .match-sn
                                    | placeholder
                                .match-kda
                                    span.blue-text
                                        | #{participant.stats.kills}
                                    | &nbsp;/&nbsp;
                                    span.red-text
                                        | #{participant.stats.deaths}
                                    | &nbsp;/&nbsp;
                                    span.blue-text
                                        | #{participant.stats.assists}
                            .match-items-container
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item0}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item1}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item2}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item3}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item4}', src='/assets/img/t1.png', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img item item-#{participant.stats.item5}', src='/assets/img/t1.png', width='32', height='32')
                            .match-trinket-container
                                img(class='match-trinket-img item item-#{participant.stats.item6}', src='/assets/img/t1.png', width='32', height='32')
                            ul.match-cs-gold-container
                                li.match-cs
                                    | #{participant.stats.cs} cs
                                li.match-gold
                                    | #{participant.stats.gold}k
        #event-summary
            #event-list
                #event-content
                #event-controls
                    #event-control-imgs
                        .control-container
                            img(id='beginning', class='control-img', src='/assets/img/PageImages/beginning.png', width='32', height='32')
                        .control-container
                            img(id='step-back', class='control-img', src='/assets/img/PageImages/back_step.png', width='32', height='32')
                        .control-container
                            img(id='play-pause', class='control-img', src='/assets/img/PageImages/play.png', width='32', height='32')
                        .control-container
                            img(id='step-forward', class='control-img', src='/assets/img/PageImages/forward_step.png', width='32', height='32')
                        .control-container
                            img(id='end', class='control-img', src='/assets/img/PageImages/end.png', width='32', height='32')
            #map-scoreline-container
                #event-map
                    //- rescale me
                    img(id='map-img', src='/assets/img/PageImages/map11.png', width='470', height='470')
                #scoreline