extends layout

//-temporary matchId display
block pageTitle
    | Match Information

block content
    #match-summary-container
        #blue-team-summary
            .team-summary-header
                if locals.match.team1.winner
                    | VICTORY
                else
                    | DEFEAT
        #red-team-summary
            .team-summary-header
                if locals.match.team2.winner
                    | VICTORY
                else
                    | DEFEAT
        #champion-info-summary
            #blue-team.team-container
                each champion in locals.match.participants.team1
                    a(href='#')
                        .champion-container
                            .champion-ss-container
                                img(class='match-champ-img', src='/assets/img/Placeholder.jpg', width='64', height='64')
                                .vertical-summoner-spells
                                    img(class='summoner-spell1-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                    img(class='summoner-spell2-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                            .match-sn-kda-container
                                .match-sn
                                    | placeholder
                                .match-kda
                                    span.blue-text
                                        | #{champion.stats.kills}
                                    | &nbsp;/&nbsp;
                                    span.red-text
                                        | #{champion.stats.deaths}
                                    | &nbsp;/&nbsp;
                                    span.blue-text
                                        | #{champion.stats.assists}
                            .match-items-container
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                            .match-trinket-container
                                img(class='match-trinket-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                            .cs
                            .gold
            #red-team.team-container
                each champion in locals.match.participants.team2
                    a(href='#')
                        .champion-container
                            .champion-ss-container
                                img(class='match-champ-img', src='/assets/img/Placeholder.jpg', width='64', height='64')
                                .vertical-summoner-spells
                                    img(class='summoner-spell1-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                    img(class='summoner-spell2-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                            .match-sn-kda-container
                                .match-sn
                                    | placeholder
                                .match-kda
                                    span.blue-text
                                        | #{champion.stats.kills}
                                    | &nbsp;/&nbsp;
                                    span.red-text
                                        | #{champion.stats.deaths}
                                    | &nbsp;/&nbsp;
                                    span.blue-text
                                        | #{champion.stats.assists}
                            .match-items-container
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                                .match-item-div
                                    img(class='match-item-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                            .match-trinket-container
                                img(class='match-trinket-img', src='/assets/img/Placeholder.jpg', width='32', height='32')
                            .cs
                            .gold